In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:

sales=pd.pivot_table(pd.read_csv('data/original/customers_sales.csv'), values='sales', index=['utility_name', 'year'], aggfunc=np.sum)
sales

                                                sales
utility_name                           year
4C Acquisition, LLC                    2016   39425.0
AEP Appalachian Transmission Co., Inc. 2015       0.0
                                       2016       0.0
                                       2017       0.0
                                       2018       0.0
...                                               ...
Yankee Atomic Electric Co.             2019       0.0
                                       2020       0.0
York Haven Power Co.                   2005  117849.0
                                       2006  156611.0
                                       2007   85184.0

[2865 rows x 1 columns]

In [ ]:
sales.describe()